.header {
  width: 100%;
}
.header .container {
  width: 100%;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.header__info .header__info-item {
  display: block;
}
.header__info .header__info-back,
.header__info .header__info-next {
  display: none;
}
@media (max-width: 479px) {
  .header__info {
    position: relative;
  }
  .header__info .header__info-item {
    display: none;
  }
  .header__info .header__info-back,
  .header__info .header__info-next {
    display: flex;
    cursor: pointer;
  }
}
.header__logo {
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding: 10px 0;
  font-weight: 500;
  line-height: 24px;
  font-family: "Lora", serif;
}

.banner {
  width: 100%;
  height: 880px;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__content {
  position: absolute;
  max-width: 352px;
  width: 352px;
  color: #fff;
  top: 34%;
  left: calc(39% - 9px);
  text-align: center;
}
@media (max-width: 479px) {
  .banner__content {
    left: 0;
  }
}
.banner__title {
  font-size: 72px;
  font-weight: 500;
  line-height: 90px;
  margin-bottom: 40px;
  font-family: "Lora", serif;
}
@media (max-width: 479px) {
  .banner__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
  }
}
.banner__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 479px) {
  .banner__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
  }
}
.banner__btn {
  padding-bottom: 4px;
  border: none;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 479px) {
  .banner__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.product {
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
}
@media (max-width: 479px) {
  .product {
    width: 85%;
  }
}
.product__title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lora", serif;
}
@media (max-width: 479px) {
  .product__title {
    display: block;
    text-align: center;
  }
}
.product h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 479px) {
  .product h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }
}
.product__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
@media (max-width: 479px) {
  .product__tab {
    width: 90%;
    margin: 0 auto;
  }
}
.product__tab-item {
  border: none;
  background-color: #fff;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.product__tab-item:hover {
  background-color: #f5f5f5;
}
.product__tab-item--active {
  border-bottom: 1px solid #000;
  background-color: #f5f5f5;
}
@media (max-width: 479px) {
  .product__tab-item {
    font-size: 12px;
    font-weight: 600;
  }
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 15px;
}
@media (max-width: 479px) {
  .product__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
.product__grid-item {
  padding-bottom: 15px;
  position: relative;
}
@media (max-width: 479px) {
  .product__grid-item {
    padding-bottom: 10px;
  }
}
.product__grid-item--1 {
  grid-column: 1/3;
}
@media (max-width: 479px) {
  .product__grid-item--1 {
    grid-column: 1/3;
    grid-row: 1;
  }
}
.product__grid-item--6 {
  grid-column: 3/5;
}
@media (max-width: 479px) {
  .product__grid-item--6 {
    grid-column: 1/3;
    grid-row: 4;
  }
}
.product__image {
  width: 100%;
  height: 400px;
}
@media (max-width: 479px) {
  .product__image {
    height: 200px;
  }
}
.product__image img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  object-fit: cover;
}
.product__info {
  width: 100%;
}
.product__label {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 479px) {
  .product__label {
    font-size: 10px;
  }
}
.product__label--fast {
  top: 3%;
  left: 3%;
  padding: 3px 9px;
  background-color: #000;
  color: #fff;
}
@media (max-width: 479px) {
  .product__label--fast {
    padding: 2px 7px;
  }
}
.product__label--new {
  top: calc(5% + 13px);
  left: calc(5% - 5px);
  padding: 3px 9px;
  color: #fff;
  background-color: #054e4a;
}
@media (max-width: 479px) {
  .product__label--new {
    padding: 2px 7px;
    top: calc(5% + 15px);
    left: calc(5% - 3px);
  }
}
.product__label--discount {
  top: 3%;
  left: 3%;
  padding: 7px 9px;
  background-color: #a42003;
}
@media (max-width: 479px) {
  .product__label--discount {
    padding: 2px 7px;
  }
}
.product__category {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .product__category {
    font-size: 11px;
  }
}
.product__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 25.88px;
}
@media (max-width: 479px) {
  .product__name {
    font-size: 12px;
  }
}
.product__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.5px;
  color: #000;
  display: flex;
}
@media (max-width: 479px) {
  .product__price {
    font-size: 12px;
  }
}
.product__price--new {
  color: #d63a2f;
  padding-right: 8px;
}
.product__price--old {
  color: #666666;
  text-decoration: line-through;
}

.product-splide {
  width: 74%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
@media (max-width: 479px) {
  .product-splide {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 0;
  }
}
.product-splide__title {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 20px;
}
@media (max-width: 479px) {
  .product-splide__title {
    font-size: 20px;
  }
}

.splide {
  width: 100%;
  margin: 0 auto;
}

.splide__slide {
  display: flex;
  justify-content: center;
  height: 480px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 3px;
}
@media (max-width: 479px) {
  .splide__slide .product__image {
    height: 300px;
  }
}
@media (max-width: 479px) {
  .splide__slide {
    height: 400px;
  }
}

.scroll {
  color: #cccccc;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 90px;
  padding-left: 20px;
  user-select: none;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  --gap: 20px;
  gap: var(--gap);
}
@media (max-width: 479px) {
  .scroll {
    font-size: 50px;
  }
}
.scroll__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 10s linear infinite;
}
.scroll:hover .scroll__group {
  animation-play-state: paused;
}
.scroll .text {
  margin: 0 20px;
}

.sale {
  width: 73.4%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 479px) {
  .sale {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
}
.sale__item {
  height: 540px;
  width: 33%;
}
@media (max-width: 479px) {
  .sale__item {
    width: 100%;
    height: 400px;
  }
}
.sale__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sale__info {
  height: 100%;
  background-color: #6e331a;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
@media (max-width: 479px) {
  .sale__info {
    height: 400px;
  }
}
.sale__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 20px 0 120px;
}
@media (max-width: 479px) {
  .sale__header {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 20px 0 80px;
  }
}
.sale__title {
  font-weight: 400;
  font-size: 56px;
  line-height: 80px;
  font-family: "Lora", serif;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .sale__title {
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
  }
}
.sale__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media (max-width: 479px) {
  .sale__description {
    margin-top: 15px;
    font-weight: 300;
    font-size: 10px;
  }
}

.inspiration {
  width: 74%;
  margin: 0 auto;
  margin-top: 60px;
}
@media (max-width: 479px) {
  .inspiration {
    margin-top: 40px;
    width: 85%;
  }
}
.inspiration__title {
  font-weight: 400;
  width: 50%;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px;
  line-height: 48px;
  text-align: center;
  font-family: "Lora", serif;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .inspiration__title {
    width: 100%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
}
.inspiration__box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 479px) {
  .inspiration__box {
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    justify-content: flex-start;
    cursor: pointer;
  }
}
.inspiration__box-item {
  width: 22%;
  height: 100%;
  user-select: none;
}
@media (max-width: 479px) {
  .inspiration__box-item {
    min-width: 65%;
  }
}
.inspiration__box-item-info {
  width: 100%;
  height: 100%;
}
.inspiration__box-item-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 479px) {
  .inspiration__box-item-info img {
    height: 80%;
  }
}
.inspiration__box-item-title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  padding: 10px 0;
}
@media (max-width: 479px) {
  .inspiration__box-item-title {
    font-size: 15px;
    padding: 10px 0 0px;
  }
}
.inspiration__box-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 479px) {
  .inspiration__box-item-description {
    font-size: 12px;
    line-height: 20px;
  }
}

.sub-banner {
  margin: 60px 0;
  width: 100%;
  height: 500px;
  position: relative;
}
@media (max-width: 479px) {
  .sub-banner {
    margin-bottom: 40px;
  }
}
.sub-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sub-banner__layout {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: block;
}
.sub-banner__info {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 32.5%;
  text-align: center;
  width: 35%;
  max-width: 35%;
  z-index: 2;
}
@media (max-width: 479px) {
  .sub-banner__info {
    width: 50%;
    max-width: 50%;
    left: 25%;
  }
}
.sub-banner__title {
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  font-family: "Lora", serif;
  padding-bottom: 20px;
}
@media (max-width: 479px) {
  .sub-banner__title {
    font-size: 35px;
    line-height: 50px;
    margin: 0 auto;
    width: 80%;
    max-width: 80%;
  }
}
.sub-banner__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 479px) {
  .sub-banner__description {
    font-size: 13px;
  }
}

.service {
  width: 73.4%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 479px) {
  .service {
    width: 85%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
}
.service img {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
@media (max-width: 479px) {
  .service img {
    width: 50px;
    height: 50px;
  }
}
.service__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  gap: 10px;
}
@media (max-width: 479px) {
  .service__item {
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }
}
.service__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: "Lora", serif;
}
@media (max-width: 479px) {
  .service__item-title {
    line-height: 40px;
  }
}
.service__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.contact {
  width: 100%;
  height: 600px;
  background-color: #f6f2ee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 479px) {
  .contact {
    flex-direction: column;
    height: 700px;
  }
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 479px) {
  .contact__info {
    margin-top: 50px;
  }
}
.contact__title {
  max-width: 120px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .contact__title {
    font-size: 15px;
    max-width: 200px;
  }
}
.contact__address {
  padding: 5px;
  max-width: 350px;
  font-weight: 400;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  .contact__address {
    max-width: 280px;
  }
}
.contact button {
  padding: 4px 30px;
  background-color: #f6f2ee;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  border: 1px solid #d1ceca;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  .contact button {
    line-height: 40px;
    padding: 4px 40px;
  }
}
.contact__image-left {
  height: 100%;
  width: 30%;
  position: relative;
}
@media (max-width: 479px) {
  .contact__image-left {
    width: 100%;
  }
}
.contact__image-left img:nth-child(1) {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  right: 40%;
}
@media (max-width: 479px) {
  .contact__image-left img:nth-child(1) {
    width: 110px;
    height: 110px;
  }
}
.contact__image-left img:nth-child(2) {
  width: 140px;
  height: 140px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  right: 62%;
}
@media (max-width: 479px) {
  .contact__image-left img:nth-child(2) {
    width: 110px;
    height: 110px;
  }
}
.contact__image-left img:nth-child(3) {
  width: 170px;
  height: 170px;
  object-fit: cover;
  position: absolute;
  top: 54%;
  right: 6%;
}
@media (max-width: 479px) {
  .contact__image-left img:nth-child(3) {
    width: 110px;
    height: 110px;
  }
}
.contact__image-right {
  height: 100%;
  width: 30%;
  position: relative;
}
@media (max-width: 479px) {
  .contact__image-right {
    width: 100%;
  }
}
.contact__image-right img:nth-child(1) {
  width: 270px;
  height: 270px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  left: 70px;
}
@media (max-width: 479px) {
  .contact__image-right img:nth-child(1) {
    width: 110px;
    height: 110px;
    left: 80px;
  }
}
.contact__image-right img:nth-child(2) {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 52%;
  left: 0px;
}
@media (max-width: 479px) {
  .contact__image-right img:nth-child(2) {
    width: 110px;
    height: 110px;
    top: 15%;
    left: 63%;
  }
}

.footer {
  width: 100%;
  height: 245px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: end;
}
.footer__info {
  width: 370px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__info-title {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}
.footer__info-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer__info-input {
  display: flex;
  align-items: center;
  height: 40px;
}
.footer__info-input svg {
  background-color: #fff;
  height: 100%;
  padding: 0 5px;
}
.footer__info-input input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
}
.footer__info-input input:focus {
  outline: none;
}
.footer__info-input input::placeholder {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.footer__info-social {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 20px 0 15px;
}
.footer__info-social-item svg {
  font-size: 40px;
}
.footer__info-copy {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.footer__info-copy span {
  text-decoration: underline;
  text-transform: uppercase;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/*# sourceMappingURL=style.css.map */
